{% extends "base.html" %}
{% block body %}
<h2>Edit Document: {{ doc.title }}</h2>
{% if doc.addtime %}
    <strong>Created: {{ doc.addtime.strftime('%Y-%m-%d %H:%M') }}</strong>
{% endif %}
<p>
<form action="" method="POST">
    {% for field in d.keys() %}
        <p>
        {{ d[field] }}: 
        <p>
        <input type=text name={{ field }} value={{ field }}> <!-- problema qui -->
    {% endfor %}
    <p>
    <p>
    <input type=submit class="submit" value="Save">
    <a href="{{ url_for('show_coll', type=str_clc) }}">Back to list</a>
</form>
{% endblock %}
